@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/solar';

body {
  font: var(--font-m);
  color: var(--s-primary-text);
}

.app {
  min-height: 100vh;
  background: linear-gradient(
    0.25turn,
    var(--bs-bg-primary),
    var(--bs-bg-secondary),
    var(--bs-bg-primary)
  );
}

.content-page {
  display: flex;
  justify-content: center;
}

.collection {
  flex: 1;
}
