.Button {
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  cursor: pointer;
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: var(--bs-btn-border-radius);
  font-weight: 400;
}

// Themes
.primary {
  border: 1px solid var(--bs-primary);
  background-color: var(--bs-primary);

  &:hover:not(:disabled) {
    border-color: #9a7400;
    background-color: #9a7400;
  }
}

.primary.outline {
  color: #b58900;
  background-color: unset;
  border: 1px solid #b58900;

  &:hover {
    background-color: #b58900;
    color: #fff;
  }
}

.secondary {
  border: 1px solid #839496;
  background-color: #839496;

  &:hover:not(:disabled) {
    border-color: #697678;
    background-color: #6f7e80;
  }
}

.secondary.outline {
  color: #839496;
  background-color: unset;
  border: 1px solid #839496;

  &:hover {
    background-color: #839496;
    color: #fff;
  }
}

.success {
  border: 1px solid #2aa198;
  background-color: #2aa198;

  &:hover:not(:disabled) {
    border-color: #22817a;
    background-color: #248981;
  }
}

.success.outline {
  color: #2aa198;
  background-color: unset;
  border: 1px solid #2aa198;

  &:hover {
    background-color: #2aa198;
    color: #fff;
  }
}

.info {
  border: 1px solid #268bd2;
  background-color: #268bd2;

  &:hover:not(:disabled) {
    border-color: #1e6fa8;
    background-color: #2076b3;
  }
}

.info.outline {
  color: #268bd2;
  background-color: unset;
  border: 1px solid #268bd2;

  &:hover {
    background-color: #268bd2;
    color: #fff;
  }
}

.warning {
  border: 1px solid #cb4b16;
  background-color: #cb4b16;

  &:hover:not(:disabled) {
    border-color: #a23c12;
    background-color: #ad4013;
  }
}

.warning.outline {
  color: #cb4b16;
  background-color: unset;
  border: 1px solid #cb4b16;

  &:hover {
    background-color: #cb4b16;
    color: #fff;
  }
}

.danger {
  border: 1px solid var(--bs-danger);
  background-color: var(--bs-danger);

  &:hover:not(:disabled) {
    border-color: #a92b68;
    background-color: #b32e6f;
  }
}

.danger.outline {
  color: #d33682;
  background-color: unset;
  border: 1px solid #d33682;

  &:hover {
    background-color: #d33682;
    color: #fff;
  }
}

.light {
  border: 1px solid #fdf6e3;
  background-color: #fdf6e3;
  color: #000;

  &:hover:not(:disabled) {
    border-color: #cac5b6;
    background-color: #d7d1c1;
  }
}

.light.outline {
  color: #fdf6e3;
  background-color: unset;
  border: 1px solid #fdf6e3;

  &:hover {
    background-color: #fdf6e3;
    color: #000;
  }
}

.dark {
  border: 1px solid #073642;
  background-color: #073642;

  &:hover:not(:disabled) {
    border-color: #204a55;
    background-color: #2c545e;
  }
}

.dark.outline {
  color: #073642;
  background-color: unset;
  border: 1px solid #073642;

  &:hover {
    background-color: #073642;
    color: #fff;
  }
}

// size
.size_m {
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.size_l {
  font-size: 1rem;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
}

.size_xl {
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.disabled {
  opacity: 0.65; // --bs-btn-disabled-opacity
  cursor: auto;
}

.link {
  display: flex;
  align-items: center;
  border: unset;
  background-color: unset;
  padding: 0;
  color: rgb(255 255 255 / 80%);
  fill: var(--bs-primary);

  &:hover {
    color: rgb(255 255 255 / 55%);
  }
}
