.ErrorPage {
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    0.25turn,
    var(--bs-gray-900),
    var(--bs-gray-800),
    var(--bs-gray-900)
  );
}

.text {
  color: tomato;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
